# Trabalhando os dados

## Carregando o dataset

In [14]:
import pandas as pd
import numpy as np

In [15]:
ds = pd.read_csv('dataset/train.csv', header=0)
print(ds.shape)
ds.head(15)

/tmp/ipykernel_28733/2572705079.py:1: DtypeWarning: Columns (435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506) have mixed types. Specify dtype option on import or set low_memory=False.
  ds = pd.read_csv('dataset/train.csv', header=0)

(177024, 508)

,id,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,...,activity-0:40,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00
0,p01_0,p01,06:10:00,NaN,NaN,9.6,NaN,NaN,9.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.4
1,p01_1,p01,06:25:00,NaN,NaN,9.7,NaN,NaN,9.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.8
2,p01_2,p01,06:40:00,NaN,NaN,9.2,NaN,NaN,8.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5
3,p01_3,p01,06:55:00,NaN,NaN,8.7,NaN,NaN,8.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.8
4,p01_4,p01,07:10:00,NaN,NaN,8.4,NaN,NaN,8.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.7
5,p01_5,p01,07:25:00,NaN,NaN,8.1,NaN,NaN,8.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.4
6,p01_6,p01,07:40:00,NaN,NaN,8.3,NaN,NaN,9.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.9
7,p01_7,p01,07:55:00,NaN,NaN,9.6,NaN,NaN,11.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1
8,p01_8,p01,08:10:00,NaN,NaN,11.1,NaN,NaN,11.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.1
9,p01_9,p01,08:25:00,NaN,NaN,11.8,NaN,NaN,12.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.9
10,p01_10,p01,08:40:00,NaN,NaN,12.8,NaN,NaN,13.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.4
11,p01_11,p01,08:55:00,NaN,NaN,13.9,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.1
12,p01_12,p01,09:10:00,NaN,NaN,14.2,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.3
13,p01_13,p01,09:25:00,NaN,NaN,14.2,NaN,NaN,15.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.6
14,p01_14,p01,09:40:00,NaN,NaN,15.4,NaN,NaN,17.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.2

In [ ]:
# ds.head(200).to_csv('dataset/train_slice.csv', index=False)

## Ordenando o dataset

In [16]:
ds['id_num'] = ds['id'].str[4:].astype(int)

In [17]:
ds = ds.sort_values(by=['p_num', 'id_num'], ascending=[True, True])
ds.head(15)

,id,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,...,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00,id_num
0,p01_0,p01,06:10:00,NaN,NaN,9.6,NaN,NaN,9.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.4,0
1,p01_1,p01,06:25:00,NaN,NaN,9.7,NaN,NaN,9.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.8,1
2,p01_2,p01,06:40:00,NaN,NaN,9.2,NaN,NaN,8.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5,2
3,p01_3,p01,06:55:00,NaN,NaN,8.7,NaN,NaN,8.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.8,3
4,p01_4,p01,07:10:00,NaN,NaN,8.4,NaN,NaN,8.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.7,4
5,p01_5,p01,07:25:00,NaN,NaN,8.1,NaN,NaN,8.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.4,5
6,p01_6,p01,07:40:00,NaN,NaN,8.3,NaN,NaN,9.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.9,6
7,p01_7,p01,07:55:00,NaN,NaN,9.6,NaN,NaN,11.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.1,7
8,p01_8,p01,08:10:00,NaN,NaN,11.1,NaN,NaN,11.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.1,8
9,p01_9,p01,08:25:00,NaN,NaN,11.8,NaN,NaN,12.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.9,9
10,p01_10,p01,08:40:00,NaN,NaN,12.8,NaN,NaN,13.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.4,10
11,p01_11,p01,08:55:00,NaN,NaN,13.9,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.1,11
12,p01_12,p01,09:10:00,NaN,NaN,14.2,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.3,12
13,p01_13,p01,09:25:00,NaN,NaN,14.2,NaN,NaN,15.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.6,13
14,p01_14,p01,09:40:00,NaN,NaN,15.4,NaN,NaN,17.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.2,14

## Recuperando os valores nulos na coluna bg-0:00

In [ ]:
vars = ["bg"]
time_tags = ['0:05', '0:10', '0:15', '0:20', '0:25', '0:30', '0:35', '0:40', '0:45', '0:50', '0:55', '1:00', '1:05', '1:10', '1:15', '1:20', '1:25', '1:30', '1:35', '1:40', '1:45', '1:50', '1:55', '2:00', '2:05', '2:10', '2:15', '2:20', '2:25', '2:30', '2:35', '2:40', '2:45', '2:50', '2:55', '3:00', '3:05', '3:10', '3:15', '3:20', '3:25', '3:30', '3:35', '3:40', '3:45', '3:50', '3:55', '4:00', '4:05', '4:10', '4:15', '4:20', '4:25', '4:30', '4:35', '4:40', '4:45', '4:50', '4:55', '5:00', '5:05', '5:10', '5:15', '5:20', '5:25', '5:30', '5:35', '5:40', '5:45', '5:50']

for index, row in ds.iterrows():
    # Tratando da hora da linha
    cur_time = row["time"]
    split_cur_time = cur_time.split(":")
    cur_hour = int(split_cur_time[0])
    cur_min = int(split_cur_time[1])

    for var in vars:
        for time_tag in time_tags:
            col_name = f"{var}-{time_tag}"
            if row[col_name] is None:
                continue
            
            split_time_tag = time_tag.split(":")
            tag_hour = int(split_time_tag[0])
            tag_min = int(split_time_tag[1])

            # Achando o time da linha que pode se beneficiar da informação
            desired_time_min = cur_min - tag_min
            if desired_time_min < 0:
                tag_hour += 1
                desired_time_min += 60
            
            desired_time_hour = cur_hour - tag_hour
            desired_time = f"{desired_time_hour:02}:{desired_time_min:02}"
            
            # Achando a linha a preencher (se vazia)
            desired_line = ds.loc[(ds['p_num'] == row["p_num"]) & (ds['id_num'] < row["id_num"]) & (ds['time'] == desired_time)]
            if desired_line.shape[0] <= 0:
                continue

            if desired_line.shape[0] > 1:
                raise Exception('Ambiguidade')
            
            if desired_line.iloc[0] is not None:
                continue

            ds.loc[desired_line.index[0], f"{var}-0:00"] = row[col_name]

## Preenchendo os nulos com zero (com exceção das colunas de Atividade Física)

In [3]:
for prefix in ['bg-', 'insulin-', 'carbs-', 'hr-', 'steps-', 'cals-']:
    cols_to_fill = [col for col in ds.columns if col.startswith(prefix)]

    ds.loc[:, cols_to_fill] = ds.loc[:, cols_to_fill].fillna(0.0)

ds.head(5)

,id,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,...,activity-0:40,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00
0,p01_0,p01,06:10:00,0.0,0.0,9.6,0.0,0.0,9.7,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.4
1,p01_1,p01,06:25:00,0.0,0.0,9.7,0.0,0.0,9.2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.8
2,p01_2,p01,06:40:00,0.0,0.0,9.2,0.0,0.0,8.7,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5
3,p01_3,p01,06:55:00,0.0,0.0,8.7,0.0,0.0,8.4,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.8
4,p01_4,p01,07:10:00,0.0,0.0,8.4,0.0,0.0,8.1,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.7

## Preencher com "other" as ativiades físicas nulas

In [4]:
cols_to_fill = [col for col in ds.columns if col.startswith('activity-')]

ds.loc[:, cols_to_fill] = ds.loc[:, cols_to_fill].fillna('other')

## Convertendo o time num inteiro crescente

In [5]:
ds['minutes_since_start'] = pd.to_datetime(ds['time'], format="%H:%M:%S").dt.hour * 60 + pd.to_datetime(ds['time'], format="%H:%M:%S").dt.minute
ds = ds.drop(columns=['time'])
ds.head(5)

,id,p_num,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,...,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00,minutes_since_start
0,p01_0,p01,0.0,0.0,9.6,0.0,0.0,9.7,0.0,0.0,...,other,other,other,other,other,other,other,other,13.4,370
1,p01_1,p01,0.0,0.0,9.7,0.0,0.0,9.2,0.0,0.0,...,other,other,other,other,other,other,other,other,12.8,385
2,p01_2,p01,0.0,0.0,9.2,0.0,0.0,8.7,0.0,0.0,...,other,other,other,other,other,other,other,other,15.5,400
3,p01_3,p01,0.0,0.0,8.7,0.0,0.0,8.4,0.0,0.0,...,other,other,other,other,other,other,other,other,14.8,415
4,p01_4,p01,0.0,0.0,8.4,0.0,0.0,8.1,0.0,0.0,...,other,other,other,other,other,other,other,other,12.7,430

## Removendo as colunas de identificação

In [6]:
cols_to_pop = ['id', 'p_num']
identificadores = ds[cols_to_pop].copy()
ds = ds.drop(columns=cols_to_pop)
ds.head(5)

,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,bg-5:15,bg-5:10,...,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00,minutes_since_start
0,0.0,0.0,9.6,0.0,0.0,9.7,0.0,0.0,9.2,0.0,...,other,other,other,other,other,other,other,other,13.4,370
1,0.0,0.0,9.7,0.0,0.0,9.2,0.0,0.0,8.7,0.0,...,other,other,other,other,other,other,other,other,12.8,385
2,0.0,0.0,9.2,0.0,0.0,8.7,0.0,0.0,8.4,0.0,...,other,other,other,other,other,other,other,other,15.5,400
3,0.0,0.0,8.7,0.0,0.0,8.4,0.0,0.0,8.1,0.0,...,other,other,other,other,other,other,other,other,14.8,415
4,0.0,0.0,8.4,0.0,0.0,8.1,0.0,0.0,8.3,0.0,...,other,other,other,other,other,other,other,other,12.7,430

## Trocando as colunas de atividade por um valor inteiro

In [7]:
# ds['activity-0:00'].unique()
mapeamento = {
    'other': 0, 'Walk': 1, 'Indoor climbing': 2, 'Yoga': 3, 'Zumba': 4, 'HIIT': 5,
    'Dancing': 6, 'Swim': 7, 'Outdoor Bike': 8, 'Aerobic Workout': 9, 'Sport': 10,
    'Walking': 11, 'Running': 12, 'Swimming': 13, 'Run': 14, 'Weights': 15, 'Workout': 16,
    'Tennis': 17, 'Strength training': 18, 'Stairclimber': 19, 'Spinning': 20, 'Hike': 21,
    'Bike':21
}

prefix = 'activity-'
cols_to_map = [col for col in ds.columns if col.startswith(prefix)]
ds[cols_to_map] = ds[cols_to_map].apply(lambda col: col.map(mapeamento))

ds.head(5)

,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,bg-5:15,bg-5:10,...,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00,minutes_since_start
0,0.0,0.0,9.6,0.0,0.0,9.7,0.0,0.0,9.2,0.0,...,0,0,0,0,0,0,0,0,13.4,370
1,0.0,0.0,9.7,0.0,0.0,9.2,0.0,0.0,8.7,0.0,...,0,0,0,0,0,0,0,0,12.8,385
2,0.0,0.0,9.2,0.0,0.0,8.7,0.0,0.0,8.4,0.0,...,0,0,0,0,0,0,0,0,15.5,400
3,0.0,0.0,8.7,0.0,0.0,8.4,0.0,0.0,8.1,0.0,...,0,0,0,0,0,0,0,0,14.8,415
4,0.0,0.0,8.4,0.0,0.0,8.1,0.0,0.0,8.3,0.0,...,0,0,0,0,0,0,0,0,12.7,430